:root {
    --bg-color: #e2f3ce;
    --text-color: black;
    --link-color: #4b4dc0;
    --link-active: #489c79;
    --link-visited: #7e2179;
    --focus-color: rgb(0, 255, 221);
    --table-color: #031803;
    --skills-outline: #031d04;
    --span-web-text: #76d1dd;
    --span-web-bg: #08282b;
    --button-bg-color: #6cb6ab;
    --button-text-color: rgb(0, 0, 0);
    --button-border-bottom: rgba(0, 0, 0, 0.3);
    --keyfr-start: #edc655;
    --keyfr-middle: #fcffad;
    --keyfr-end: #f76414;
    --hFontWeight: 700;
    --h1Size: 30px;
    --h2Size: 24px;
    --h3Size: 18px;
  }
  
  /* * {
    box-sizing: border-box;
    border: 2px solid #fff;
  } */
  
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
  }
  
  .page-header__item {
    flex: 0 1 auto;
  }
  
  .page-header__item:last-child {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation-list__item--active {
    text-decoration: none;
  }
  
  .navigation-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .navigation-list li {
    display: inline-block;
    margin-left: 15px;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--bg-color);
  }
  
  main {
    display: block;
  }
  
  .profile__text-web {
    background-color: var(--span-web-bg);
    color: var(--span-web-text);
  }
  
  h1 {
    font-size: var(--h1Size);
    font-weight: var(--hFontWeight);
  }
  
  h2 {
    font-size: var(--h2Size);
    font-weight: var(--hFontWeight);
  }
  
  h3 {
    font-size: var(--h3Size);
    font-weight: var(--hFontWeight);
  }
  
  a {
    color: var(--link-color);
  }
  
  a:hover {
    text-decoration: none;
    transform: scale(1.1);
  }
  
  a:visited {
    color: var(--link-visited);
  }
  
  a:active {
    color: var(--link-active);
  }
  
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .grid__item {
    display: inline-block;
    width: 33%;
  }
  
  @supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        box-sizing: border-box;
    }
  
    .grid__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        padding: 20px;
        padding-bottom: 30px;
        background-color: rgba(245, 245, 245, 0.85);
        border: 5px solid #fff;
        box-shadow: 3px 3px 10px rgb(0, 0, 0);
        justify-content: space-between;
        box-sizing: border-box;
    }
    .project-imgs {
        width: 70%;
        height: auto;
        border: 4px solid #fff;
        border-radius: 10px;
      }
  }
  
  /* Home */
  .profile__portrait {
    float: left;
    height: auto;
    width: 350px;
    margin-right: 30%;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    margin: 30px;
    border: 5px solid #fff;
    box-sizing: border-box;
  }
  
  .profile {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  /* About */
  .about {
    text-align: center;
    gap: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    box-sizing: border-box;
  }
  
  table {
    margin: auto;
    text-align: center;
    background-color: var(--bg-secondary-color);
    padding: 2px 5px;
    margin-bottom: 15px;
  }
  th {
    border: 5px solid #fff;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

td {
    border: 5px solid #fff;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #92e6bc;
}

thead {
    text-align: center;
}
  
  /* Work */
  .work {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  /* Contact */
  .contact__option {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
  
  button,
  .button {
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid var(--button-border-bottom);
    transition: opacity 0.2s;
  }
  
  button:hover, .button:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  @media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
  
    .grid__item:last-child {
      grid-column: auto/auto;
      grid-row: auto/auto;
    }
  
    h1 {
      font-size: var(--h1Size);
    }
  }

  /* New media query for header responsiveness */
@media screen and (max-width: 600px) {
  .page-header {
    flex-direction: column;
    align-items: center;
  }

  .page-header__item {
    width: 100%;
    /* max-width: none; */
    margin-bottom: 10px; /* Reset margin */
  }

  .navigation-list {
    text-align: center; /* Centering the navigation links */
  }

  .navigation-list li {
    display: block;
    margin: 0 auto; /* Centering the list items */
  }
}
  