$bgcolor-primary: #112055;
$bgcolor-secondary: #4f9d92;
$color-primary: #fff;
$color-secondary: #000;
$font-family: sans-serif;

#box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: $font-family;
  .box-primary {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
    background-color: $bgcolor-primary;
    color: $color-primary;
    &:hover {
      box-shadow: none;  
    }
    &-lighter  {
      @extend .box-primary;
      background-color: lighten($bgcolor-primary, 20%);
    }
    &-darker  {
      @extend .box-primary;
      background-color: darken($bgcolor-primary, 20%);
    }
  }
  .box-secondary {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3);
    background-color: $bgcolor-secondary;
    color: $color-secondary;
    &:hover {
      box-shadow: none;  
    }
  }
}
